@namespace url("http://www.w3.org/1999/xhtml");

:root 
{
	--dark-100: #050505;
	--dark-200: #0a0a0a;
	--dark-300: #0d0d0d;
	--off-white: #8c9daa;
	--darkblue-200: #0a0a1a;
	--darkblue-250: #0b0b3b;
	--darkblue-300: #130539;
	--darkblue-500: #0b0366;
	--darkpurple-100: #18012f;
	--darkpurple-200: #280049;
	--green-100: #053420;
	--green-400: #059121;
	--blood-400: #890121;
	--anim-time: 200ms;
	--base-size: 18px;
	--base-font: 'Courier New', Courier, monospace;

	scrollbar-color: var(--blood-400) var(--dark-200) !important;
	scrollbar-width: thin !important;
}

* 
{
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	scrollbar-width: thin !important;
}

html, body 
{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: var(--base-size);
	font-family: var(--base-font);
	background: #200000;
}

a, button, p, span, div, input
{
	color: var(--off-white);
	font-family: var(--base-font);
}

.bg 
{
	height: 100%;
	width: 100%;
	position: fixed;
	background: url('bg1.jpg');
	background-size: 50% 100%;
	opacity: 0.15;
	max-width: none;
	margin: 0;
}

#root 
{
	height: 100%;
	width: 100%;
	position: relative;
	display: grid;
	grid-template-rows: min-content;
	height: 100%;
	max-width: 100%;
	grid-template-columns: 100%;
}

.topLevel
{
	padding: 1rem;
	border: 6px solid var(--dark-100);
}

.sampleManager
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.samplesMount
{
	padding: 1rem;
	border: 6px solid var(--dark-100);
}

.sampleSelect
{
	border: 6px solid var(--dark-100);
}

.labelButton
{
	display: grid;
	place-items: center;
	width: 100%;
}

.labelButton p
{
	margin: 0 0 -4px;
	width: 100%;
	font-size: 1rem;
	line-height: 2rem;
	position: relative;
}

.labelButton p::before
{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	right: 0;
	height: 1.9rem;
	background: var(--dark-200);
	z-index: 0;
}

.labelButton span
{
	display: inline;
	color: white;
	padding: 0.3rem 0;
	background: var(--dark-200);
	z-index: 1;
	position: relative;
	white-space: pre-wrap;
}

.labelButton button
{
	border: none;
	background: rgba(47, 0, 0, 0.59);
	padding: 0.5rem;
	font-size: 1rem;
	border-left: 1px solid var(--dark-100);
	border-right: 1px solid var(--dark-100);
	border-top: 0px solid transparent;
	border-bottom: 6px solid var(--dark-100);
	width: 98%;
	height: 45px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0 -1px 0 var(--dark-100);
	font-family: var(--base-font);
	text-align: center;
	cursor: pointer;
	transition: background 80ms linear, color 80ms linear, border-bottom-width 30ms linear, border-top-width 30ms linear;
}

.labelButton button:hover
{
	background: rgb(60,0,0,0.7);
	color: #ccc;
}

.labelButton button:active,
.labelButton.down button
{
	background: rgb(80,0,0,0.9);
	color: #ccc;
	border-bottom-width: 2px;
	border-top-width: 4px;
}

.hidden {
	display: none;
}

.sampleItem {
	border-bottom: 6px solid var(--dark-100);
	padding: 1.2rem;
	cursor: pointer;
}

.sampleItem.selected {
	background-color: var(--darkpurple-200);
}

.sampleItem:hover {
	background-color: var(--darkpurple-100);
}



input[type=range] {
	width: 100%;
	margin: 16.2px 0;
	background-color: transparent;
	-webkit-appearance: none;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track
{
	background: var(--darkblue-200);
	border: 2px solid var(--dark-100);
	width: 100%;
	height: 12px;
	cursor: pointer;
}
input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb
{
	margin-top: -16.9px;
	width: 28px;
	height: 45px;
	background: var(--darkpurple-200);
	border: 1.6px solid var(--darkpurple-100);
	border-radius: 12px;
	cursor: pointer;
	-webkit-appearance: none;
}