@namespace url("http://www.w3.org/1999/xhtml");

:root 
{
	--schall-dark-100: #050505;
	--schall-dark-200: #0a0a0a;
	--schall-off-white: #8c9daa;
	--schall-blood-100: #200000;
	--schall-base-size: 18px;
	--schall-base-font: 'Courier New', Courier, monospace;
}

.schallvernichtung
{
	background: var(--schall-blood-100);
	min-height:100%;
	position: relative;
}

.schallvernichtung *
{
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	font-size: var(--schall-base-size);
	font-family: var(--schall-base-font);
	color: var(--schall-off-white);
}

.schallvernichtung a, 
.schallvernichtung button, 
.schallvernichtung p, 
.schallvernichtung span, 
.schallvernichtung div, 
.schallvernichtung input
{
	color: var(--schall-off-white);
	font-family: var(--schall-base-font);
}

.schallvernichtung .bg 
{
	min-height:100%;
	width: 100%;
	position: absolute;
	background-size: 50% 100%;
	opacity: 0.15;
	max-width: none;
	margin: 0;
}

.schallvernichtung .base
{
	min-height:100%;
	width: 100%;
	position: relative;
	display: grid;
	grid-template-rows: min-content;
	max-width: 100%;
	grid-template-columns: 100%;
	overflow: auto;
}

.schallvernichtung .topLevel
{
	padding: 1rem;
	border: 6px solid var(--schall-dark-100);
}

.schallvernichtung .sampleManager
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.schallvernichtung .samplesMount
{
	padding: 1rem;
	border: 6px solid var(--schall-dark-100);
}

.schallvernichtung .sampleSelect
{
	border: 6px solid var(--schall-dark-100);
}

.schallvernichtung .labelButton
{
	display: grid;
	place-items: center;
	width: 100%;
}

.schallvernichtung .labelButton p,
.schallvernichtung .sampleItem p,
.schallvernichtung .rangeChange p
{
	margin: 0;
	width: 100%;
	font-size: 1rem;
	line-height: 2rem;
	position: relative;
}

.schallvernichtung .labelButton p
{
	margin-bottom: -4px;
}

.schallvernichtung .labelButton p::before,
.schallvernichtung .sampleItem p::before,
.schallvernichtung .rangeChange p::before
{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	right: 0;
	height: 2rem;
	background: var(--schall-dark-200);
	z-index: 1;
}

.schallvernichtung .labelButton p span,
.schallvernichtung .sampleItem p span,
.schallvernichtung .rangeChange p span
{
	display: inline;
	color: var(--schall-off-white);
	padding: 0.3rem 0;
	background: var(--schall-dark-200);
	z-index: 2;
	position: relative;
	white-space: break-spaces;
	word-break: break-all;
}

.schallvernichtung .labelButton button
{
	border: none;
	background: rgba(47, 0, 0, 0.59);
	padding: 0.5rem;
	font-size: 1rem;
	border-left: 1px solid var(--schall-dark-100);
	border-right: 1px solid var(--schall-dark-100);
	border-top: 0px solid transparent;
	border-bottom: 6px solid var(--schall-dark-100);
	width: 98%;
	height: 45px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0 -1px 0 var(--schall-dark-100);
	font-family: var(--schall-base-font);
	text-align: center;
	cursor: pointer;
	transition: background 80ms linear, color 80ms linear, border-bottom-width 30ms linear, border-top-width 30ms linear;
}

.schallvernichtung .labelButton button:hover
{
	background: rgb(60,0,0,0.7);
	color: #ccc;
}

.schallvernichtung .labelButton button:active,
.schallvernichtung .labelButton.down button
{
	background: rgb(80,0,0,0.9);
	color: #ccc;
	border-bottom-width: 2px;
	border-top-width: 4px;
}

.schallvernichtung .hidden
{
	display: none;
}

.schallvernichtung .sampleItem
{
	border-bottom: 6px solid var(--schall-dark-100);
	padding: 1rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.schallvernichtung .sampleItem canvas
{
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1200px;
	width: 100%;
	z-index: 0;	
}

.schallvernichtung .sampleItem.playing span::before
{
	content: "o))) ";
	animation: 2s linear infinite schall-sound;
}

@keyframes schall-sound 
{ 
	0% { content: 'o    '; } 
	20% { content: 'o)   '; }
	60% { content: 'o))  '; }
	80% { content: 'o))) '; }
}

.schallvernichtung .rangeChange
{
	margin: 1rem 0 2rem;
	width: calc(100% - 1rem);
	max-width: 24rem;
	overflow: hidden;
	cursor: pointer;
}
